body {
	font-family: 'Dancing Script', cursive;
	height: 100%;
	margin: 0;
	background-color: #02010a;
}

#contenido {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#cabecera {
	border-radius: 10px 10px 0 0;
	background-color: #5b7989;
}
header h1{
	color: white;
	text-shadow: 2px 0px #02010a;
	padding: 10px;
}
.enlaces{
	float: right;
	margin: 0px 12px;
	color: white;
	text-shadow: 0 0 2px #02010a;
	font-size: 25px;
}
#containers {
	display: flex;
	background-color: #d5c75f;
}
#containers img{
	width: 450px;
	height: auto;
	margin-top: 15px;
	display: block;
	margin: 0 auto;
	padding: 35px;
}
.container1 {
float: left;
border: 1px;
}
.container1 {
float: center;
border: 1px;
}
.container1 {
float: right;
border: 1px;
}
.imagen1 {
	filter: blur(10px);
}
.imagen2, .imagen4, .imagen6{
	filter: grayscale(100%);
}
.imagen3 {
	filter: sepia(90%);
}
footer {
	height: 150px;
	padding: 10px;
	background-color: #C6d5c5;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	flex-flow: row wrap;
}
footer .columna{
 width: 25%;
 box-sizing: border-box;
 padding: 0 15px;
 }

@media (max-width: 900px){
	#container {
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
	#cabecera {
		width: 100%;
		box-sizing: border-box;
		text-align: left;
	}
	navbar {
		width: 50%;
		text-align: center;
	}
	header navbar, header h1 {
		width: 50%;
		box-sizing: border-box;
		text-align: left;
	}
	#containers img{
		width: 80%;
		}
	#containers {
		width: 100%;
		flex-flow: wrap;
	}

}
