body {
	font-family: 'Indie Flower', cursive;
	width: 100%;
	margin-left: 0%;
}

 header {
	padding: 3vh 1vw;
	margin-top: -8px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #5b7989;
}

 #encabezado h1 {
	color: white;
	text-shadow: 0 0 2px #02010a;
}

 .enlaces {
	text-align: left;
	color: white;
	text-shadow: 0 0 2px #02010a;
}

.container1 {
	width: 100%;
  padding: 100px;
	background-color: #82c3a6
}

.container1 img{
	width: 750px;
	height: auto;
	display: block;
	margin: auto;
}
