body {
	font-family: 'Indie Flower', cursive;
	height: 100%;
	margin-left: 0%;
}

.container {
	display: flex;
	flex-flow: column wrap;
}
.container1 {
	background-color: #5b7989;
}
.container2 {
	background-color:  #82c3a6;
}
.container2 img{
	width: 700px;
	height: auto;
	margin-top: 15px;
	display: block;
	margin: 0 auto;
	padding: 25px;
}
.container3 {
background-color: #d5c75f;
}
.container3 img{
	width: 520px;
	height: auto;
	padding: 25px;
}
