body {
	font-family: 'Indie Flower', cursive;
	height: 100%;
	margin-left: 0%;
}

#contenido section{
	flex-direction: row;
}
 header {
	height: 100px;
	width: 100%;
	position: fixed;
	top: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #5b7989;
}
#encabezado h1 {
	color: white;
	text-shadow: 2px 0px #02010a;
	padding: 20px;
}
nav {
	 height: 100%;
 }

ul {
	list-style-type: none;
	margin: 5px;
	overflow: hidden;
	height: 100%;
}
li a{
	float: right;
	display: block;
	margin: 0px 5px;
	padding: inherit;
	height: 100%;
	color: white;
	text-shadow: 0 0 2px #02010a;
	font-size: 25px;
}

.container1 {
	height: 400px;
  padding: 20px;
	background-color: #82c3a6;
}

.container1 img{
	width: 50%;
	height: 100%;
}

.container2 {
	height: 400px;
  padding: 20px;
	background-color: #d5c75f;
}

.container2 img {
	width: 550px;
}
